.examples-materials-item {
  display: inline-block;
  margin-right: $padding;
  padding-right: $padding;
  border-right: 2px solid $base-color;

  &:last-child {
    border-right: none;
  }
}

.examples-materials {
  text-align: center;
  margin-top: $padding * 2.7;
  margin-bottom: $padding * 2;
  position: relative;

  &::before {
    content: "Przykładowe materiały:";
    font-size: 0.7rem;
    font-weight: 600;
    position: absolute;
    top: -1.2rem;
  }
}

.title-span {
  padding: $padding / 2 $padding;
  border-radius: 5px;
  color: white;
}

.wykonczenie {
  //   display: inline-block;
  padding: $padding * 2 $padding * 2 $padding;
  border: 1px dashed grey;
  border-radius: 5px;
}

.wykonczenie-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kod {
  font-weight: 500;
  font-size: 1.1rem;
  color: darken(grey, 30%);
  margin-right: $padding;
  display: inline-block;
  position: relative;
  line-height: 1.1rem;

  text-align: center;

  &::before {
    content: "";
    background-color: grey;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    border-radius: 50%;
    border: 3px solid lighten(grey, 30%);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // -webkit-box-shadow: 0px 4px 20px 0px rgba(29, 90, 162, 0.3);
    // -moz-box-shadow: 0px 4px 20px 0px rgba(29, 90, 162, 0.3);
    // box-shadow: 0px 4px 20px 0px rgba(29, 90, 162, 0.3);
  }
}

.detail {
  line-height: 2.2rem;
}

.exception-ul,
.important-ul {
  // list-style: none;

  li {
    line-height: 1.5rem;
    margin-bottom: $padding;

    &:last-of-type {
      margin-bottom: inherit;
    }
  }
}

.important .important-ul li {
  line-height: 2rem;
}

.steps {
  text-align: center;
  margin-bottom: $padding * 2;

  button {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;

    &:focus,
    &:active {
      border: 2px dashed red;
    }
  }

  li {
    padding: $padding/2 $padding / 2.2;

    &::marker {
      font-weight: 700;
      font-size: 1.2rem;
      color: $base-color;
    }
  }
}
.steps button:nth-child(2n-1) {
  background-color: lighten($base-color, 50%);
}
.steps button:nth-child(2n) {
  background-color: lighten($base-color, 30%);
}
