.examples-materials-item {
  display: inline-block;
  margin-right: $padding;
  padding-right: $padding;
  border-right: 2px solid $base-color;

  &:last-child {
    border-right: none;
  }
}

.examples-materials {
  text-align: center;
  margin-top: $padding * 2.7;
  margin-bottom: $padding * 2;
  position: relative;

  &::before {
    content: "Przykładowe materiały:";
    font-size: 0.7rem;
    font-weight: 600;
    position: absolute;
    top: -1.2rem;
  }
}

.title-span,
.kod {
  padding: $padding / 1.5 $padding;
  border-radius: $border-radius / 4;
  color: white;
  font-weight: 500;
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
}

.kod {
  margin-right: $padding;
  background-color: grey;

  &::after {
    @include label("kod");
  }
}

.title-span {
  &::after {
    @include label("grupa");
  }
}

.wykonczenie {
  padding: $padding * 2 $padding * 2 $padding;
  border: 1px dashed grey;
  border-radius: $border-radius;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onMobile {
      display: inherit;
    }
  }
}

.wykonczenie-title {
  text-align: center;
  margin-bottom: $padding / 2;
}

.wykonczenie-title_under {
  display: flex;
}

.exception-ul,
.important-ul {
  li {
    line-height: 1.5rem;
    margin-bottom: $padding;

    &:last-of-type {
      margin-bottom: inherit;
    }
  }
}

.important .important-ul li {
  line-height: 2rem;
}

.steps {
  text-align: center;
  margin-bottom: $padding * 2;

  button {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    padding: $padding * 2 $padding;

    &:focus,
    &:active {
      border: 2px dashed red;
    }
  }

  li {
    &::marker {
      font-weight: 700;
      font-size: 1.2rem;
      color: $base-color;
    }
  }
}
.steps li:nth-child(2n-1) {
  background-color: lighten($base-color, 50%);
}
.steps li:nth-child(2n) {
  background-color: lighten($base-color, 30%);
}

@include print {
  header,
  .no-print {
    display: none;
  }
}

.wykonczenie .main {
  margin: $padding * 3 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;

  div img {
    width: auto;
    max-height: 8cm;
  }

  .regularP {
    padding-right: $padding * 2;
    line-height: 1.5rem;
  }
}
